{% extends "themes/base_visitor.html.twig" %} 
{% block title %}Page Blog{% endblock %}
{% block description %}Explorez l'univers passionnant de la musculation et des sports sur notre blog dédié, où la puissance, la performance et la santé se rencontrent. Plongez dans des conseils d'experts, des programmes d'entraînement personnalisés et des analyses approfondies des dernières tendances dans le monde du fitness. Que vous soyez un débutant cherchant à sculpter votre corps ou un athlète chevronné visant l'excellence, notre contenu informatif et inspirant vous guidera à chaque étape de votre parcours. Découvrez des articles détaillés sur la nutrition sportive, des revues approfondies sur les équipements de pointe, et des astuces pratiques pour maximiser vos performances. Rejoignez notre communauté passionnée de passionnés de fitness et transformez votre corps tout en atteignant de nouveaux sommets athlétiques. Atteignez vos objectifs, repoussez vos limites et vivez une vie active avec notre blog dédié à la musculation et aux sports. Bienvenue dans le monde où la force et la détermination se rencontrent pour créer une version améliorée de vous-même chaque jour.{% endblock %}
{% block keywords %} musculation, fitness, entraînement, exercices, santé, bien-être, performance sportive, nutrition, bodybuilding, sport, exercices physiques, entraînement musculaire, programme d'entraînement, équipement de fitness, conseils sportifs, développement musculaire, athlétisme, force physique, endurance, mode de vie actif, corps sain, motivation sportive , page blog{% endblock %}
{% block stylesheet %}/css/app.css{% endblock %}

{% block main %}

      <main>

        <div class="patterns">
            <div class:"titre"> 
                <h1>
                    <button data-text="Awesome" class="button">
                            <span class="actual-text">&nbsp;Articles&nbsp;</span>
                            <span class="hover-text" aria-hidden="true">&nbsp;Articles&nbsp;</span>
                    </button>
                </h1>
            </div>
        </div>

        <div class="container my-5">
            <div class="row text-center">
                <div class="col-md-6 my-2">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Les catégories
                        </a>

                        <ul class="dropdown-menu">
                            {% if categories|length == 0 %}
                                <li><a class="dropdown-item" href="#">Aucune categorie existante</a></li>
                            {% else %}
                                {% for category in categories %}
                                    <li><a class="dropdown-item" href="{{path('visitor.blog.posts.filter_by_category', {'id':category.id, 'slug': category.slug})}}">{{category.name}} ({{category.getPublishedPostsArray|length}})</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Les tags
                        </a>

                        <ul class="dropdown-menu ">
                            {% if tags|length == 0 %}
                                <li><a class="dropdown-item" href="#">Aucun tag existant</a></li>
                            {% else %}
                                {% for tag in tags %}
                                    <li><a class="dropdown-item" href="{{path('visitor.blog.posts.filter_by_tag', {'id':tag.id, 'slug': tag.slug})}}">{{tag.name}} ({{tag.getPublishedPostsArray|length}})</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container my-5">
                <div class="col-md-12 col-lg-8 mx-auto">
                    {% for post in posts|reverse %}
                    <div class="card my-5 shadow">
                        <div class="row g-0">
                            <div class="col-md-4">
                                {% if post.image %}
                                    <img class="h-100 w-100 rounded-start" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}">
                                {% else %}
                                <div class="d-flex align-items-center">
                                   <h1 class="text-danger"><i class="fa-solid fa-camera"></i></h1>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-title fs-4">{{post.title}}</p>
                                    <p class="card-text"><small class="text-body-secondary">Publié {{post.publishedAt|ago}}</small></p>
                                    <p class="card-text">{{post.content|striptags|u.truncate(70, '...')|raw}}</p>
                                    <p><a href="{{path('visitor.blog.post.show', {'id': post.id, 'slug': post.slug})}}" class="btn btn-sm btn-danger">Lire cet article</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}